# This is a basic workflow to help you get started with Actions
name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Runs a single command using the runners shell

      - name: Update version
        run: |
          git config --global user.name 'WernerWildenboer'
          git config --global user.email 'wwildenboer@gmail.com'
          npm version prerelease
          
      - name: Commit version update
        run: |
          git config --global user.name 'WernerWildenboer'
          git config --global user.email 'wwildenboer@gmail.com'
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git add . 
          git commit -am "updated version"
          git push
